{% extends 'index.html' %}
{% load static %}
{% block body %}

<center>
<section class="logins py-5">
    <div class="container py-xl-5 py-lg-3">

        <h3 class="text-dark font-weight-bold">Add Heart Detail</h3>
        <hr>

        <form method="post">
            {% csrf_token %}

            <div class="row">

                <div class="col-md-2">
                    <label>Age</label>
                    <input type="text" name="age" class="form-control" required>
                </div>

                <div class="col-md-2">
                    <label>Sex (Male/Female)</label>
                    <input type="text" name="sex" class="form-control" required>
                </div>

                <div class="col-md-2">
                    <label>Chest Pain</label>
                    <input type="text" name="cp" class="form-control" required>
                </div>

                <div class="col-md-2">
                    <label>Resting BP</label>
                    <input type="text" name="trestbps" class="form-control" required>
                </div>

                <div class="col-md-2">
                    <label>Cholesterol</label>
                    <input type="text" name="chol" class="form-control" required>
                </div>

                <div class="col-md-2">
                    <label>Fasting BS</label>
                    <input type="text" name="fbs" class="form-control" required>
                </div>

            </div>

            <br>

            <div class="row">

                <div class="col-md-2">
                    <label>ECG</label>
                    <input type="text" name="restecg" class="form-control" required>
                </div>

                <div class="col-md-2">
                    <label>Max Heart Rate</label>
                    <input type="text" name="thalach" class="form-control" required>
                </div>

                <div class="col-md-2">
                    <label>Exercise Induced</label>
                    <input type="text" name="exang" class="form-control" required>
                </div>

                <div class="col-md-2">
                    <label>Oldpeak</label>
                    <input type="text" name="oldpeak" class="form-control" required>
                </div>

                <div class="col-md-2">
                    <label>Slope</label>
                    <input type="text" name="slope" class="form-control" required>
                </div>

                <div class="col-md-2">
                    <label>CA</label>
                    <input type="text" name="ca" class="form-control" required>
                </div>

            </div>

            <br>

            <div class="row">
                <div class="col-md-2">
                    <label>Thal</label>
                    <input type="text" name="thal" class="form-control" required>
                </div>
            </div>

            <br>

            <button type="submit" class="btn btn-dark">
                Predict Heart Disease
            </button>

        </form>

    </div>
</section>
</center>

{% endblock %}